-#encoding: utf-8

%div.row-fluid
  %div.span6
    -form_for :channel, url(:channels, :create), :class=>:'form-horizontal' do |f|
      %fieldset
        .control-group
          =f.label :title
          .controls
            =f.text_field :title
            =f.error_message_on :title
        .control-group
          =f.label :description
          .controls
            =f.text_area :description
            =f.error_message_on :description
        .form-actions
          =f.submit 'create', :class=>'btn btn-primary'
