-#encoding: utf-8

%div.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container-fluid
      %a.btn.btn-navbar{:'data-toggle'=>'collapse', :'data-target'=>'.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href=>'/'}solanum
      %div.btn-group.pull-right
        %a.btn.dropdown-toggle{:'data-toggle'=>'dropdown', :href=>'#'}
          %i.icon-user
          Username
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href=>'/users/profile'}profile
          %li.divider
          %li
            %a{:href=>'/users/signout'}sign out
      %div.nav-collapse
        %ul.nav
          %li.active
            %a{:href=>'/'}home
          %li
            %a{:href=>'/rooms'}rooms
