%div.row-fluid
  %div.span4
    %h2 room1
    %p
      hogefu gaa aaaaa aaa a a aaaaaaaa aaaaa aaaaa aaaaaa aaaaaa aaaaaaa aaaaaa aaa aaa aaaaa aaaaa aaa aaaa aaaa aa a aaaa aaa aaaa aaaaaa aaa aaaa aaaa aaa aaaa
    %p.pull-right
      %a.btn{:href=>'/channels/a'}room
